@model KalliPoshApp.Models.Movies
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model != null)
{
    <h2>@Model.Name</h2>

    <ul>
        <li>Genre: &nbsp; @Model.Genre</li>
        <li>Release Date: &nbsp; @Model.RelaseDate.ToLongDateString()</li>
        <li>Date Added: &nbsp;@Model.DateAdded.ToLongDateString()</li>
        <li>Number In Stock: &nbsp;@Model.NumberInStock</li>
    </ul>
}
else
{
    <p>No Movie is Available Now </p>
}


