@model  List<KalliPoshApp.Models.Movies>
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    // var className = Model.Customers.Count > 0 ? "popular" : null;
}

<h2>Movies</h2>

<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <th>Movies</th>
            <th>Genre</th>
        </tr>

        @foreach (var mov in Model)
        {
    <tr>
        <td>
            @Html.ActionLink(mov.Name,"Detail", new { Id=mov.Id})
        </td>
        <td>
            @mov.Genre
        </td>
    </tr>

        }

    </tbody>
</table>






