@model KalliPoshApp.Models.Customers
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null)
{
    <p> Movie is not available</p>
}
else
{
    <h2>@Model.Name</h2>
    <ul>
        <li>
            Membership Type: @Model.MembershipName
        </li>
        @if (Model.DOB != null)
        {
            <li>
                Data Of Birth: @Model.DOB.Value.Date;
            </li>
        }
    </ul>
}

