@model KalliPoshApp.ViewModel.RandamMovieViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Custmors</h2>


@if (Model.Customers.Count == 0)
{
    <p>We don not have customers now </p>
}
else
{
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th colspan="2">Custmors</th>
            </tr>

            @foreach (var cust in Model.Customers)
            {
                <tr>
                    <td>
                        @Html.ActionLink(cust.Name, "Detail", new { Id = cust.Id})
                    </td>
                </tr>

            }

        </tbody>
    </table>
}
